:root {
    --typewriterCharacters: 151;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.container {
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    background: whitesmoke;
}

.images{
    width: 100%;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(-2rem);
    animation: fadeInDown 2s ease 10s forwards;
}

.images img{
    width: 100%;
    max-width: 100px;
}

.subtitle {
    color: #000;
    font-size: 1rem;
    font-weight: lighter;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 10s forwards;
}

.container a {
    text-decoration: none;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: max-content;
    margin: 0 auto;
    padding: 13px 23px;
    background-color: whitesmoke;
}

.container a i {
    margin: 0 10px;
    color: #000000b3;
}

h1 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: 100%;
    font-size: 30px;
    color: #000000b3;
    font-weight: 300;
}

h2 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: 100%;
    font-size: 27px;
    margin-top: -15px;
    color: #000000b3;
    font-weight: 300;
}

h3 {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: "Source Code Pro", monospace;
    position: relative;
    width: 100%;
    font-size: 26px;
    margin-top: -15px;
    color: #000000b3;
    font-weight: 300;
}


h1::before,
h1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before {
    background: whitesmoke;
    animation: typespeed 3s steps(var(--typewriterCharacters)) forwards;
}

h2::before,
h2::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h2::before {
    background: whitesmoke;
    animation: typespeed_2 4.5s ease 4s forwards;
}

h3::before,
h3::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h3::before {
    background: whitesmoke;
    animation: typespeed_3 5s ease 7s forwards;
}

@keyframes typespeed {
    to {
        left: 100%;
    }
}

@keyframes typespeed_2 {
    to {
        left: 100%;
    }
}

@keyframes typespeed_3 {
    to {
        left: 100%;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media(max-width: 3840px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1.3rem !important;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 2560px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1.3rem !important;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 1920px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1.3rem !important;
    }

    h1 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 1366px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1rem !important;
    }

    h1 {
        font-size: 1.3rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: 1.3rem;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: 1.3rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 1000px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1rem !important;
    }

    h1 {
        font-size: 1.3rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: 1.3rem;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: 1.3rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 834px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1rem !important;
    }

    h1 {
        font-size: 1rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: 1rem;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: 1rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 820px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1rem !important;
    }

    h1 {
        font-size: 1.3rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: 1.3rem;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: 1.3rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 768px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1rem !important;
    }

    h1 {
        font-size: .8rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: 1rem;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: 1rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 600px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: 1rem !important;
    }

    h1 {
        font-size: .8rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: .8rem;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: .8rem;
        margin-bottom: 2.5rem;

    }

}

@media(max-width: 540px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: .7rem !important;
    }

    h1 {
        font-size: .8rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: .8rem;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: .8rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 414px) {
    .container {
        padding: 0 .3rem !important;
    }

    .subtitle {
        font-size: .6rem !important;
    }

    h1 {
        font-size: .6rem !important;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: .6rem !important;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: .6rem !important;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 375px) {
    .container {
        padding: 0 !important;
    }

    .subtitle {
        font-size: .6rem !important;
    }

    h1 {
        font-size: .6rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: .6rem;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: .6rem;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 320px) {
    .container {
        padding: 0 !important;
    }

    .subtitle {
        font-size: .5rem !important;
    }

    h1 {
        font-size: .4rem;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: .4rem !important;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: .4rem !important;
        margin-bottom: 2.5rem;

    }

}


@media(max-width: 280px) {
    .container {
        padding: 0 !important;
    }

    .subtitle {
        font-size: .3rem !important;
    }

    h1 {
        font-size: .4rem !important;
        margin-bottom: 2rem;

    }

    h2 {
        font-size: .4rem !important;
        margin-bottom: 2rem;

    }

    h3 {
        font-size: .4rem !important;
        margin-bottom: 2.5rem;

    }

}